
.google-visualization-table-table {
    font-family: Open Sans !important;
    font-size: 10pt;
    cursor: default;
    margin: 0;
    background: white;
    border-spacing: 0;
    border-collapse: separate;
    color: white !important;
}


.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
    background: #212121 !important;
    color: white;
    font-size: 14px;
}


.google-visualization-table-tr-even {
    background-color: #243F56 !important;
}


.google-visualization-table-tr-odd {
    background-color: #00638F !important;
}


google-visualization-table-table th, .google-visualization-table-table td {
    border: solid #eee;
    border-width: 0 1px 1px 0;
    padding: 5px .35em !important;
}


.google-visualization-table-tr-sel td, .google-visualization-table-tr-over td {
    background-color:#474646 !important;
}

.google-visualization-table-td-number {
    text-align: center !important;
    white-space: nowrap;
}
td:nth-child(2) { text-align: center; }

